# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.New Unity Project.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\PC\Documents\OGT5016-3D-FPS\New Unity Project\.idea\.idea.New Unity Project\.idea/dataSources/
/dataSources.local.xml
